<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <style>
        .box {
            width: 100px;
            /* line-height: 40px; */
            overflow: hidden;
            text-overflow: ellipsis;
            /* display: -webkit-box; */
            -webkit-line-clamp: 2;
            /*! autoprefixer: on */
            -webkit-box-orient: vertical;
        }
    </style>
</head>

<body>
    <h1>welcome</h1>
    <div class="box">21312312affwewe给我特别费个人版 个个人扔吧regression你让他热1111123131csfacs</div>
</body>

</html>